@-webkit-keyframes animateClipPath {
    0% {
      -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 30% 100%, 0 94%, 0 0);
              clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 30% 100%, 0 94%, 0 0);
    }
    50% {
      -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 29% 90%, 0 94%, 0 0);
              clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 29% 90%, 0 94%, 0 0);
    }
    100% {
      -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 30% 100%, 0 94%, 0 0);
              clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 30% 100%, 0 94%, 0 0);
    }
  }
  @keyframes animateClipPath {
    0% {
      -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 30% 100%, 0 94%, 0 0);
              clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 30% 100%, 0 94%, 0 0);
    }
    50% {
      -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 29% 90%, 0 94%, 0 0);
              clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 29% 90%, 0 94%, 0 0);
    }
    100% {
      -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 30% 100%, 0 94%, 0 0);
              clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 86%, 68% 91%, 30% 100%, 0 94%, 0 0);
    }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  animation: fadeIn 1s 1 forwards;
}

#main_section {
    animation: animateClipPath 10s infinite forwards;
}

#projects_section {
    animation: animateClipPath 25s infinite forwards;
}
