.container {
  padding: var(--padding-mobile);
}
#main_section {
    background-color: var(--turquoise);
    height: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#services_section {
    height: 65vh;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#projects_section {
    height: 75vh;
    background-color: var(--turquoise);
}
#contact_section {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}
#contact_section h3 {
    color: var(--turquoise);
}
#contact_section a {
  color: var(--blue);
  text-decoration: none;
}
