* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* Colors */
    --dark-gray: #363538;
    --light-gray: #8D8C8A;
    --white: #F6F7F6;
    --blue: #408697;
    --turquoise: #52D6F4;
    --padding-mobile: 1vw;
}
body {
    background-color: var(--dark-gray);
}
