.logo {
    display: flex;
    flex-direction: row;
    opacity: 0;
}
.logoText {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    
}
.logoIcon {
    animation-delay: 2s; 
    position: relative;
    padding-right: 2px;
    top: -5%;
}