.navBar {
    background-color: var(--dark-gray);
    height: 5vh;
}
.navBar * {
    display: flex;
}
.logo {
   height: 100%;
   width: 25%;
   align-items: center;
   justify-content: center;
   padding: var(--padding-mobile);
}
.logoText {
    color: var(--turquoise);
}
.logoIcon {
    color: var(--white);
}