/* Smartphone */
@media only screen 
   and (min-width : 320px) {
}
/* Tablet */
@media only screen 
   and (min-width : 768px) {


      nav {
         width: 75vw;
         margin: auto;
      }
      .logoText, .logoIcon {
         padding: 1px;
      }
      .container {
         width: 75vw;
         margin: auto;
      }
      #main_section {
         height: 45vh;
      }
      #services_section {
         flex-direction: row;
         height: 45vh;
      }
      .service {
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         width: 30vw;
         height: 50vh;
         border-bottom: none;
      }
      .serviceIcon {
         height: 25%;
         font-size: 5vh;
         border-radius: 50%;
      }
      .serviceBody {
         text-align: center;
         height: 75%;
         justify-content: flex-start;
         align-items: center;
      }
      .serviceBody h3 {
         height: 25%;
      }
      .serviceBody p {
         height: 75%;
      }
      .projectTile {
         width: 35vw;
         height: 30vh;
      }
      .projectLink, .socialIcon {
         padding: 1vw;
      }
      footer {
         width: 75vw;
         margin: auto;
      }
   }
/* Laptop */
@media only screen 
   and (min-width : 1200px) {
}
/* Desktop */
@media only screen 
   and (min-width : 1600px) {
}