.service {
    flex-direction: row;
    width: 75vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-bottom: 1px solid var(--turquoise);
}
.service:last-child {
    border-bottom: none;
}
.serviceIcon {
    color: var(--turquoise);
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.serviceBody {
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    line-height: 2vh;
    font-size: 1.5vh;
    padding: var(--padding-mobile);
}
.serviceBody h3 {
    color: var(--turquoise);
    font-size: 2vh;
}

